@model Covoiturage.utilisateur

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mdp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mdp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photoCIN1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photoCIN1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photoCIN2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photoCIN2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hashCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hashCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.presentation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.presentation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUtilisateur }) |
    @Html.ActionLink("Back to List", "Index")
</p>
